<table class="table">
  <tr>
    <th>Task</th>
    <th>Status</th>
    <th>Due Date</th>
    <th>Progress</th>
  </tr>
  <% work_tasks.each do |task| %>
    <tr class="<%=work_task_status_class(task) %>">
      <td>
        <% if show_project %>
          [<%= link_to task.project.title, project_path(task.project) %>]
        <% end %>

        <% if work_task_status_text(task) %>
          <span class="badge text-bg-info"><%=work_task_status_text(task) %></span>
        <% end %>
        <%= link_to task.title, project_work_task_path(task.project, task) %>
      </td>
      <td><%= task.status.titleize %></td>
      <td><%= task.due_date %></td>
      <td>
        <% if task.has_subtasks? %>
          <div class="progress mt-1" role="progressbar" aria-label="Basic example" aria-valuenow="<%=subtask_status_bar(task) %>" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar" style="width: <%=subtask_status_bar(task) %>%"></div>
          </div>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>