<div class="row">
  <div class="col-12">
    <h2>Update your info</h2>
  </div>
  <div class="col-12">
    <%= form_for @user do |form| %>
      <div class="col-12">
        <%=form.label :first_name, class: "form-label" %>
        <%=form.text_field :first_name, class: "form-control" %>
      </div>
      <div class="col-12">
        <%=form.label :last_name, class: "form-label" %>
        <%=form.text_field :last_name, class: "form-control" %>
      </div>
      <div class="col-12 mt-3">
        <%=link_to "Cancel", :back, class: "btn btn-secondary" %>
        <%=form.submit "Update", class: "btn btn-primary float-end" %>
      </div>
    <% end %>
  </div>
</div>
