<!DOCTYPE html>
<html>
  <head>
    <title>Pmdashboard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container" data-controller="app">
      <%= render 'layouts/shared/top_nav' %>
      <div class="row"><%= yield :action_bar %></div>
      <% if notice %>
        <div class="alert alert-secondary mb-3" role="alert">
          <%= notice %>
        </div>
      <% end %>
      <% if alert %>
        <div class="alert alert-danger mb-3" role="alert">
          <%= alert %>
        </div>
      <% end %>

      <div class="row">
        <div class="col-12"><%= yield %></div>
      </div>
    </div>
  </body>
</html>
